QMainWindow {
    background-color: #e1e1e1;
}

#m_close_label:hover {
/*    background: #fa4545;*/
}
/*QVBoxLayout {
    width: 200px;
}*/

/*QLineEdit {
    width: 100px;
    height: 50px;
}*/

QPushButton {
    border: 2px solid #d1d1d1;
    border-radius: 10px;
    background: #ffffff;
}

QPushButton:pressed {
    background: #ff4e28;
}
